<div class="app">
  <h1 class="title">Приложение тестирования линии</h1>
  <nav>
    <ul>
      <li>
        <a class="nav-link" routerLink="/" routerLinkActive="active">
          Home
        </a>
      </li>
      <!-- <li>
        <a class="nav-link" routerLink="profile" routerLinkActive="active" *ngIf="authService.loggedIn">
          Profile
        </a> -->
      <!-- </li> -->
      <li style="float:right">
        <a class="nav-link" style="float:right" routerLink="login" routerLinkActive="active"
          *ngIf="!authService.loggedIn">
          Login
        </a>
      </li>
      <li style="float:right">
        <a class="nav-link" (click)="authService.logout()" href="#" *ngIf="authService.loggedIn">
          Logout
        </a>
      </li>
    </ul>
  </nav>
</div>

<app-login *ngIf="!authService.loggedIn"></app-login>
<app-profile *ngIf="authService.loggedIn"></app-profile>
<!-- <router-outlet></router-outlet> -->