<div class="profile">
  <p>You are logged in!</p>
  <ngb-toast class="toast__profile">
    <button class="btn btn-info" type="button" (click)="handleStartTest()" *ngIf="!isStartTest">
      Начать тест линии
    </button>
    <div class="bar__wrap" *ngIf="isStartTest">
      <ngb-progressbar [value]="progressValue" type="info"></ngb-progressbar>
      <p class="bar__info">
        До окончания теста осталось {{ timeRemain }} секунд
      </p>
    </div>

    <p *ngIf="isEndTest && isStartTest">Результат теста линии: {{ impulseCount }} импульсов</p>

    <button *ngIf="isEndTest && isStartTest" class="btn btn-info" type="button" (click)="handleClearTest()">
      Очистить результаты теста
    </button>
  </ngb-toast>

</div>