<div class="container">
  <ngb-toast class="toast">
    <p class="title__sub">Войдите, чтобы начать работу.</p>

    <div class="form">
      <div class="form-group">
        <label for="email" class="label">
          Email:
        </label>
        <input type="text" placeholder="Email" id="email" name="email" class="input" required [(ngModel)]="email">
      </div>
      <div class="form-group">
        <label for="password" class="label">
          Пароль:
        </label>
        <input type="password" placeholder="password" name="password" placeholder="введите пароль" class="input"
          required [(ngModel)]="password" />
      </div>
      <button type="submit" class="btn btn-success" (click)="login()">
        Войти
      </button>
    </div>

  </ngb-toast>
</div>