.container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto 40px;
}

.form {
  text-align: center;

  & .label {
    display: block;
    margin: 0;

    text-align: left;
  }
  
  & button {
    margin: 20px 0;
  }
}

.alert {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 300px;
  max-width: 600px;
  width: 80%;
}

.toast {
  padding: 15px;
}